body,
html {
    background-color: #f7f7f8;
}

.content {
    margin-left: 250px;
    margin-top: 64px;
    background-color: #f7f7f8;
    min-height: 100vh;
    padding: 30px 28px 56px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* react-datepicker */
.react-datepicker-wrapper * {
    cursor: pointer;
}

.react-datepicker-wrapper {
    width: 122px;
    border: 1px solid #e4e4e7;
    border-radius: 6px;
    overflow: hidden;
    height: 36px;
}

.react-datepicker__input-container {
    height: 100%;
}

.react-datepicker-wrapper input {
    font-size: 14px;
}

.react-datepicker-wrapper svg {
    padding: 9px 0 9px 10px !important;
    width: 18px !important;
    height: 18px !important;
}

.react-datepicker-wrapper input {
    height: 100%;
    width: 100%;
    padding: 6px 10px 6px 34px;
    outline: none;
}

/* Chakra UI Tabs */
.chakra-tabs__list[data-orientation='horizontal'] {
    width: 100%;
    background: white;
}

.chakra-tabs__trigger:is([aria-selected='true'], [data-selected]) {
    background: var(--chakra-colors-blue-100);
    border-color: var(--chakra-colors-blue-500);
}

.chakra-tabs__trigger:is([aria-selected='true'], [data-selected]) svg {
    color: var(--chakra-colors-blue-500);
}

.chakra-tabs__trigger svg {
    width: 18px;
    height: 18px;
}
